<nav id="sections-sidebar" class="sections-sidebar">
    <ul>
      
        <li class="menu-dd-item">World</li>

            <li class="menu-dropdown">San Francisco
                <ul>
                    <li class="menu-title">San Francisco</li>
                    <li>Students</li>
                    <li>Teaching Assistants</li>
                    <li>Instructors</li>
                    <li>Career Advisors</li>
                    <li>Cats</li>
                </ul>
            </li>
        </li>
    
        <li class="menu-dd-item">New York</li>

        <li class="menu-dropdown">Bootcamp Prep
            <ul>
                <li class="menu-title">Bootcamp Prep</li>
                <li>Students</li>
                <li>Instructors</li>
                <li>Cats</li>
            </ul>
        </li>

        <li class="menu-dd-item">Jumpstart</li>

        <li class="menu-dropdown">Online
            <ul>
                <li class="menu-title">Online</li>
                <li>Immersive</li>
                <li>Bootcamp Prep</li>
                <li>Cats</li>
            </ul>
        </li>            

        <li class="menu-dropdown">Sales
            <ul>
                <li class="menu-title">Sales</li>
                <li>Associates</li>
                <li>Analytics</li>
                <li>Cats</li>
            </ul>
        </li>

        <li class="menu-dd-item">TalentMatch</li>    

        <li class="menu-dropdown">Alumni
            <ul>
                <li class="menu-dropdown">Alumni</li>
                <li>Students</li>
                <li>Companies</li>
                <li>Opinions</li>
                <li>Cats</li>
            </ul>
        </li>

    </ul>
</nav>