<section class="page"><div class="centered-box">
<h1>Login</h1>
 <form action="/session" method="post">
    <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
    <label for="chas">Username</label>
    <input type="text" name="user[username]" id="chas">

    <label for="user_password">Password</label>
    <input type="password" name="user[password]" id="user_password">

    <input type="submit">

    
 </form>
 </div></section>